<?xml version='1.0' encoding='utf-8'?>
<widget id="com.snow1231.psbeauty.doctorgo20190520" version="1.1.14" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <preference name="android-minSdkVersion" value="19" />
    <preference name="DisallowOverscroll" value="true" />
    <hook src="hooks/hookers.js" type="before_prepare" />
    <hook src="hooks/beforedep.js" type="before_deploy" />
    <name>美醫聯購</name>
    <description>
        [美醫聯購] Doctor-Go App Made By Snow
    </description>
    <author email="snowwayne1231@gmail.com">
        Snow
    </author>
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="browser">
        <preference name="orientation" value="portrait" />
        <preference name="SplashScreen" value="static/images/logo.jpg" />
        <preference name="SplashScreenDelay" value="0" />
        <preference name="AutoHideSplashScreen" value="true" />
        <preference name="SplashScreenBackgroundColor" value="#10b793" />
        <preference name="SplashScreenWidth" value="280" />
        <preference name="SplashScreenHeight" value="105" />
    </platform>
    <platform name="android">
        <allow-intent href="market:*" />
        <icon density="ldpi" src="res/android/icon144.png" />
        <icon density="mdpi" src="res/android/icon144.png" />
        <preference name="orientation" value="portrait" />
        <preference name="SplashScreen" value="screen" />
        <preference name="SplashScreenDelay" value="3000" />
        <preference name="AutoHideSplashScreen" value="true" />
        <splash src="res/screen/launch.png" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
        <preference name="orientation" value="portrait" />
        <preference name="FadeSplashScreen" value="false" />
        <preference name="KeyboardDisplayRequiresUserAction" value="false" />
        <preference name="KeyboardShrinksView" value="true" />
        <preference name="DisableScrollingWhenKeyboardShrinksView" value="true" />
        <config-file parent="NSPhotoLibraryUsageDescription" target="*-Info.plist">
            <string>Need take photo for use profile</string>
        </config-file>
        <config-file parent="NSPhotoLibraryAddUsageDescription" target="*-Info.plist">
            <string>Need take photo for use profile</string>
        </config-file>
        <config-file parent="NSCameraUsageDescription" target="*-Info.plist">
            <string>Need take photo for use profile</string>
        </config-file>
        <config-file parent="NSLocationWhenInUseUsageDescription" target="*-Info.plist">
            <string>Need take photo for use profile</string>
        </config-file>
    </platform>
    <allow-navigation href="*" />
    <plugin name="cordova-plugin-whitelist" spec="1" />
    <plugin name="cordova-plugin-device" spec="~2.0.2" />
    <plugin name="cordova-plugin-splashscreen" spec="~5.0.2" />
    <plugin name="cordova-plugin-camera" spec="^4.0.3" />
    <plugin name="cordova-plugin-file" spec="^6.0.1" />
    <plugin name="cordova-plugin-file-opener2" spec="^2.2.0">
        <variable name="ANDROID_SUPPORT_V4_VERSION" value="27.+" />
    </plugin>
    <plugin name="cordova-plugin-file-transfer" spec="^1.7.1">
        <variable name="ANDROID_SUPPORT_V4_VERSION" value="27.+" />
    </plugin>
    <plugin name="cordova-plugin-crop" spec="^0.4.0">
        <variable name="ANDROID_SUPPORT_V4_VERSION" value="27.+" />
    </plugin>
    <plugin name="cordova-plugin-inappbrowser" spec="^3.0.0" />
    <engine name="ios" spec="^4.5.5" />
    <engine name="browser" spec="^5.0.4" />
    <engine name="android" spec="^7.1.4" />
</widget>
