@import '../variable.scss';

.banner-swiper {
    display: block;
    color: #fff;
    background-color: $color-title-background;
    // min-height: 120px; 

    .swiper-slide {
        // height: 50vw;
        // max-height: 36vh;
        // min-height: 28vh;
        height: auto;
        text-align: center;
        font-size: 0px;

        a {
            display: inline-block;
            margin: 0px;
            padding: 0px;
        }

        img {
            max-width: 100%;
            width: 100%;
            height: auto;
        }
    }

    .swiper-pagination {
        .swiper-pagination-bullet-active {
            background-color: $color-light-grey;
        }
    }
}