.loading-bar {
    display: block;
    height: 2px;
    background-color: #ccc;

    .percentage-bar {
        width: 0%;
        background-color: #00b9ff;
        height: 2px;
        transition: 0s width linear;
        
        &.loading {
            transition-duration: 0.3s;
        }
    }
}