.status-div {
    
    &.loading {
        
        
    }

    .loading-div {
        text-align: center;
        min-height: 200px;
        line-height: 200px;

        .fa {
            animation-name: rolling;
            animation-duration: 2s;
            animation-fill-mode: forwards;
            animation-timing-function: linear;
            animation-iteration-count: infinite;
            font-size: 30px;
            color: #999;
        }
    }

}