@import '../../variable.scss';

#my-order {
	position: relative;

	.my-order-nav {
		position: relative;

		.link {
			width: 25%;
		}

		.i18n {
			font-size: 0.85em;
		}
	}

	.order-tab-title {
		text-align: center;
		color: $grey;
		background-color: #fff;
	}

	.swiper-container {
		height: calc(100% - 48px);
	}

	.tabs-animated-wrap {
		height: calc(100% - 48px);
		box-sizing: border-box;

		.tab {
			height: 100%;
			overflow: auto;
		}
	}
}

@media only screen and (min-width: 720px) {
	#my-order {

		.tabs-animated-wrap {
			height: calc(100% - 60px);
		}
	}
}