@import '../variable.scss';

#article-publication {

	.inner-content {
		background-color: #fff;
		padding: 10px;

		&.no-data {
			height: 0px;
			padding: 0px;
		}

		.image-link {
			min-width: 80px;
			margin-top: 5px;
			margin-right: 10px;
		}

		.line-info {

			>dd {
				display: block;
			}
			
			.info-content {
				color: $grey;
			}
		}

		.date-time {
			color: $grey;
		}
	}

	.flex-list {

	}
}