@import '../variable.scss';

#checkout {

	.inner-content {
		height: calc(100% - 114px);
		overflow-y: auto;
	}

	.table-list {
		text-align: center;
		background-color: #fff;

		.promotion-h {
			color: #fff;
			background-color: #ff8360;
		}

		.result-h {
			color: #fff;
			background-color: #ffd886;
		}

		.total {
			color: $orange;
			font-size: 22px;
		}

		.discount {
			color: $red;
		}

		td {
			line-height: 32px;
		}
	}

	.my-point {
		margin: 0px auto 15px;
	}
}