@import '../variable.scss';

.my-setting {

	.page-content {
		background-color: #fff;
	}

	.input-form {
		padding-bottom: 70px;

		input[readonly] {
			color: $grey;
			text-decoration: underline;
		}

		.server-image {
			max-height: 48px;
			padding-left: 20px;
		}
	}
	
	.input-form-col {

		>input {
			padding-left: 15px;
			font-size: 13px;
		}
	}
}
