@import '../variable.scss';

.my-setting {

	.page-content {
		background-color: #fff;
	}

	.input-form {
		padding-bottom: 70px;
	}
	
	.input-form-col {

		>input {
			padding-left: 15px;
			font-size: 13px;
		}
	}
}
