@import '../variable.scss';

.my-setting {

	.page-content {
		background-color: #fff;
	}

	.input-form {
		position: absolute;
		height: calc(100% - 114px);
		width: 100%;
		
		overflow: auto;

		input[readonly] {
			color: $grey;
			text-decoration: underline;
		}

		.server-image {
			max-height: 48px;
			padding-left: 20px;
		}

		.server-input-file {
			width: 100%;
			
		}
	}
	
	.input-form-col {

		>input {
			padding-left: 15px;
			font-size: 13px;
		}
	}
}
