@import '../variable.scss';

#news {

	.inner-content {
		background-color: #fff;
		padding: 10px;
		
	}

	.news-header {
		position: relative;
		display: flex;
		align-items: center;

		.type {
			color: $red;
			width: 14%;
		}

		.text {
			width: 74%;
			overflow: hidden;
			text-overflow: ellipsis;
		}

		.fa-external-link {
			width: 8%;
			text-align: right;
			color: $blue;
			padding: 3px;

			&.active-state {
				color: $light-blue;
			}
		}
	}

	

	.collapse-header {
		height: 45px;
		font-size: 1.2em;
	}

	.content-textarea {
		min-height: 185px;
		width: 100%;
		padding: 10px;
		box-sizing: border-box;

	}
}