@import '../variable.scss';

#news {

	.inner-content {
		background-color: #fff;
		padding: 10px;
	}

	.type {
		color: $red;
	}

	.collapse-header {
		height: 45px;
		font-size: 1.2em;
	}

	.content-textarea {
		min-height: 185px;
		width: 100%;
		padding: 10px;
		box-sizing: border-box;

	}
}