@import 'assets/sass/variable.scss';

#product-list-filter {

	.inner-content {
		position: relative;
		background-color: #fff;
		height: calc(100% - 48px);
		overflow-x: hidden;
		overflow-y: auto;

		.infomation {
			position: relative;
			padding: 5px 10px;
			color: $grey-dark;

			&:after {
				content: '';
				display: inline-block;
				clear: both;
				width: 100%;
			}

			.image-link {
				float: left;
				margin: 8px 15px 6px 5px;
				@include card;
			}

			.inline-image {
				display: inline-block;
				float: left;
				margin: 5px 15px 5px 5px;
			}

			.info-div {
				white-space: pre-wrap;
			}
		}

		.banner {
			position: relative;
			padding: 5px 0px;

			.image-link {
				width: 100%;
				min-height: 200px;
			}
		}

		.product-list {
			position: relative;
			padding-left: 8px;
			

			&:not(:empty) {
				border-top: 1px solid $color-light-grey;
				padding-top: 12px;
			}
		}

		.product-item {
			width: 50%;
			margin-bottom: 8px;
		}

		.product-image {
			min-height: 180px;
			height: 30vh;
		}

		.sub-filter {
			position: relative;
			padding: 5px;

			.sub-filter-item {
				color: $blue;
				border-radius: 10px;
				border: 1px solid $blue;
				min-width: 96px;
				text-align: center;
				margin: 2px;
				line-height: 25px;
				padding: 2px 15px;

				&.active {
					color: white;
					background-color: $blue;
					// font-weight: bold;
				}

				&.active-state {
					color: $light-blue;
				}

				.i18n {
					pointer-events: none;
				}
			}
		}
	}
}

