.registration {
	
	.page-content {
		background-color: #fff;
		overflow: hidden !important;
	}

	.logo {
		padding: 22px 0px 0px;
		margin: 0px auto;
		display: block;
	}

	.get-token {
		.btn {
			color: $color-link;
			outline: none;
			background: none;
			border: none;
			width: 100%;
		}
	}

	.inner-content {
		position: absolute;
		overflow: auto;
		height: calc(100% - 114px);
		width: 100%;
	}

	.input-form {
		
		
		input[type=file] {
			padding: 2px;
			
		}
	}

	.red {
		position: absolute;
		top: 15px;
		left: 10px;
		color: $red;
	}

	.doctor-file-upload {
		color: $grey;
		flex-wrap: wrap;
		
		.i18n {
			padding: 2px 5px;
			border: 2px outset $grey;
		}
	}

	.hasFile {
		color: #000;
	}

	select {
		width: 100%;
	}

	.term >i {
		font-size: 1em;
	}
}

@media only screen and (min-width: 720px) {
	.registration {
		.inner-content {
			height: calc(100% - 140px);
		}
	}
}