@import '../variable.scss';

.table-list {
    position: relative;
    clear: both;
    width: 100%;
    border-collapse: collapse; 
    
    tr {
        border-bottom: 1px solid $color-line-grey;
    }

    td {
        padding: 5px;
    }

    td:first-child {
        width: 30%;
    }
}

@media only screen and (min-width: 720px) {
	.table-list {
        
    }
}