@import 'assets/sass/variable.scss';

.home {

    .home-tabs {
        position: relative;
        height: calc(100% - 50px);
        overflow: auto;

        .tab {
            &.tab-active {
                animation-name: rotateRight;
                animation-duration: 0.5s;
                animation-timing-function: ease;
                animation-fill-mode: forwards;
            }
        }
    }

    .top-tools {
        position: fixed;
        top: 0px;
        padding: 5px 0px;
        width: 100%;
        display: flex;
        z-index: 2;
        transition: background-color 0.3s ease;
        background-color: transparent;

        &.background {
            background-color: rgba(1, 157, 139, 0.9);
        }

        .scan {
            flex: 15;
        }

        .search-bar-wrapper {
            flex: 70;
            display: inline-block;

            .search-bar {
                pointer-events: none;
            }
        }

        .message-box {
            flex: 15;
            text-align: center;
        }
    }

    .news-card {
        width: 96%;
        margin: 10px 2% 5px;
    }

    .index-icons {
        position: relative;
        padding: 10px 3%;

        .icon-block {
            width: 25%;
            padding-bottom: 10px;

            &.active-state {
                opacity: 0.7;
            }

            .icon {
                width: 80%;
                margin: 0 auto;
                pointer-events: none;
            }
            .wording {
                pointer-events: none;
            }
        }
    }

    .index-image-links {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        padding: 0px 2%;

        .image-link {
            width: 48%;
            margin: 1%;

            &.active-state {
                opacity: 0.7;
            }
        }
    }

    .index-brands {
        position: relative;
        padding: 1% 2%;
        text-align: center;
        border-radius: 5%;
        overflow: hidden;

        .inner {
            @include card;
            width: 100%;
            background-color: #fff;
        }
        
        .brand {
            position: relative;
            border: 1px solid #ccc;
            border-left: none;
            border-top: none;
            padding: 2px 5px;

            .image-link {
                min-width: 80px;
                min-height: 48px;
                width: 90%;
                height: 13vw;
                margin: 1%;
                background-size: contain;

                &.active-state {
                    opacity: 0.7;
                }
            }

        }

        tr:last-child .brand {
            border-bottom: none;
        }
        
        td:last-child {
            border-right: none;
        }
    }

    .products {
        position: relative;
        padding-left: 8px;
    }

    .block-headmore {
        padding-top: 20px;

        .product-item {
            width: 50%;
        }

        .product-image {
            height: 30vh;
            min-height: 180px;
        }
    }

    .toolbar-bottom {
        position: fixed;
        bottom: 0px;
    }
}

#tab-home {
    position: relative;
    height: 100%;
    overflow: hidden;

    .home-content {
        position: relative;
        height: 100%;
        
        .inner-content {
            overflow: auto;
            position: relative;
            height: 100%;
        }
    }
}