@import 'assets/sass/variable.scss';

.tab-catalog-content {
    position: relative;
    height: 100%;
    overflow: hidden;

    .inner-content {
        position: relative;
        display: flex;
        max-height: calc(100% - 50px);
        overflow: auto;
    }

    .inner-left {
        flex: 20;
        // min-width: 120px;
        padding: 10px 6px;
        box-sizing: border-box;
        overflow: hidden;

        .title {
            display: block;
            padding: 5% 2%;
            text-align: center;
        }

        .list {
            padding: 2%;
            min-height: 420px;

            .li-children {
                color: $grey;
                max-height: 0px;
                overflow: hidden;
                padding: 0px 5px 0px 15px;

                &.show {
                    
                    animation-name: fadeInLeftList;
                    animation-duration: 1s;
                    animation-fill-mode: forwards;
                }

                &::after {
                    display: none;
                }

                .li-children-li {
                    text-align: right;
                    padding: 2px;
                    margin: 0px;
                }
            }

            .fa {
                
                &::before {
                    margin-right: 4px;
                }
            }
        }

        .back {
            border-bottom: 1px solid $grey;
        }

        .link {
            color: inherit;
        }
    }

    .inner-right {
        flex: 50;
        overflow: hidden;

        .container-below {
            padding: 5px;
        }
    }

    .search-bar-wrapper {
        .search-bar {
            pointer-events: none;
        }
    }

    .block-headmore {
        padding-top: 10px;
    }
}



@keyframes fadeInLeftList {
    0% {
        max-height: 0px;
    }

    40% {
        max-height: 200px;
    }

    100% {
        max-height: 1200px;
    }
}